@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rajdhani:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body ::selection {
    background-color: #515154;
}
:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

.dark-theme {
    --primary-color: #000;
    --secondary-color: #fff;
}
@media (min-width: 720px) {
    body {
        background-color: var(--secondary-color);
    }

    .contain-bg-anime {
        position: absolute;
        width: 100%;
        height: 100vh;
        transform-style: preserve-3d;
        z-index: -3;
        overflow: hidden;
    }

    .gradient {
        width: 400px;
        height: 400px;
        filter: blur(50px);
        background-image: linear-gradient(rgba(55, 235, 169, 0.85), rgb(91, 55, 235));
        animation: rotate 40s ease alternate infinite;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        position: absolute;
        bottom: 0;
        right: 0;
        }

    @keyframes rotate {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 360deg;
        }
        
    }        
    nav {
        display: flex;  
    }

    .nav-links {
        margin: 30px 20px;
        position: fixed;
    }

    li {
        color: aliceblue;
        margin-bottom: 25px;
        display: flex;
    }

    li .butns {
        width: 32px;
        font-weight: lighter;
        color: white;
        font-size: 18px;
        margin-right: 12px;
        padding: 7px 7px;
        background-color: #2b2b30;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s ease-in;
    }

    .nav-item {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 18px;
        border: 1px solid rgb(97, 97, 97);
        display: grid;
        align-content: center;
        border-radius: 2px;
        background-color: #3F3F46;
        height: 24px;
        padding: 10px;
        margin-top: 3px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.1s ease-in;
    }

    /* .nav-links:hover > :not(:hover) {
        opacity: .4;
    } */
    li .butns:hover{
        /* outline: #646464 solid 1px;  */
        background-color: #3F3F46;
        transform: scale(1.1); 
    }

    li .butns:hover ~ .nav-item{
        opacity: 1;
    }

    .verticalLine {
        position: fixed;
        border-left: 2px solid #27272A;
        height: 200px;
        margin: 35px;
        margin-top: 440px;
    }
    /* homepage Css*/
    .top-h {
        margin: 4vh 24vw;
        display: flex;
    }

    .heading {
        color: var(--primary-color);
    }
    .logo {
        font-family: 'Bodoni Moda', serif;
        font-weight: 700;
        font-size: 45px;
        
    }

    h3 {
        font-family: 'Rajdhani', sans-serif;
        font-size: 16px;
        padding-bottom: 12px;
    }

    p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
    }

    .img-cont {
        border: #4B4582 solid 2px;
        outline: #e2e2e2 solid 3px;
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        box-shadow: inset 0 0 20px 0 rgb(11, 6, 28), 0 0 30px 0 rgba(12, 50, 36, 0.85) ;
    }

    .self-img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%; 
        filter: blur(3px);
    }

    /* Top Projects css */

    .top-projects {
        color: var(--primary-color);
        margin: 6vh 24vw;
    }

    .prj-heading {
        font-family: 'Bodoni Moda', serif;
        font-weight: 700;
        font-size: 45px;
    }

    .project-section {
        display: flex;
        gap: 2rem;
    }
    .card {
        position: relative;
        margin: 2rem auto;
        height: 15rem;
        width: 14rem;
        border: hsla(240, 6%, 90%, 0.24) solid 4px;
        background-color: rgba(100, 100, 100, 0.144);
        outline: rgba(5, 20, 15, 0.85) solid 1px;
        border-radius: 10px;
        box-shadow:  0 10px 15px -3px hsla(240, 6%, 90%, 0.068),0 4px 6px -4px hsla(240,6%,90%,.1);
        transition: all .3s;
        cursor: pointer;
    }

    .card:hover {
        border-width: 10px 4px;
        border-radius: 10px 40px;
        scale: 1.04;
   }

    .card-heading {
        padding: 4px 9px;
    }

    .extract {
        font-size: 16px;
        padding: 4px 9px;
    }

    .link {
        position: absolute;
        bottom: 0;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}

/* For Medium/Small Devices */
@media (max-width:720px) {
    body {
        background: var(--secondary-color)
    }
    
    .contain-bg-anime {
        position: fixed;
        width: 100%;
        height: 100vh;
        transform-style: preserve-3d;
        z-index: -3;
        overflow: hidden;

    }

    .gradient {
        width: 300px;
        height: 300px;
        filter: blur(50px);
        background-image: linear-gradient(rgba(55, 235, 169, 0.85), rgb(91, 55, 235));
        animation: rotate 40s ease alternate infinite;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        position: absolute;
        bottom: 0;
        right: 0;
        }

    @keyframes rotate {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 360deg;
        }
        
    }

    .nav-links {
        width: 90vw;
        margin: 1rem;
        position: fixed;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 10px 10px;
        background: rgba(112, 107, 107, 0.233);
        justify-content: space-between;
        border-radius: 8px;
    }

    li {
        color: aliceblue;
        margin: 8px auto;
        margin-bottom: -1px;
    }

    li .butns {
        height: 30px;
        width: 30px;
        color: white;
        font-size: 18px;
        padding: 6px 7px;
        background-color: #3a3a41;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .drk-btn {
        
        margin-top: -4px;
    }

    .nav-item {
        position: absolute;
        opacity: 0;
    }

    .verticalLine{
        opacity: 0;
        position: absolute;
    }


    /* homepage Css for medium/small devices*/
    .home{
        padding: 8.5rem 3.4rem;
    }
    .top-h {
        display: flex;
        flex-direction: column-reverse;
    }

    .heading {
        color: var(--primary-color);
    }
    .logo {
        font-family: 'Bodoni Moda', serif;
        font-weight: 700;
        font-size: 45px;
        
    }

    h3 {
        font-family: 'Rajdhani', sans-serif;
        font-size: 16px;
        padding-bottom: 12px;
    }

    p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
    }

    .self-img {
        border: #4B4582 solid 2px;
        outline: #e2e2e2 solid 3px;
        max-width: 140px;
        max-height: 140px;
        border-radius: 50%;
        filter: blur(2px);
        margin-bottom: 30px;
        transition: all .2s ease-in-out;
        box-shadow: inset 0 0 20px 0 #575757, 0 0 30px 0 #6d6d6d ;
    }
    

    /* top projects css */

    .top-projects {
        color: var(--primary-color);
        margin-top: 3rem;
    }

    .prj-heading {
        font-family: 'Bodoni Moda', serif;
        font-weight: 700;
        font-size: 40px;
    }

    .card {
        position: relative;
        margin: 2rem auto;
        height: 40vh;
        width: 50vw;
        border: hsla(240, 6%, 90%, 0.24) solid 4px;
        background-color: rgba(100, 100, 100, 0.144);
        outline: rgba(5, 20, 15, 0.85) solid 1px;
        border-radius: 10px;
        box-shadow:  0 10px 15px -3px hsla(240, 6%, 90%, 0.068),0 4px 6px -4px hsla(240,6%,90%,.1);
        border-width: 10px 4px;
        border-radius: 10px 40px;
    }


    .card a {
        color: var(--primary-color);
    }

    .card-heading {
        padding: 4px 9px;
    }

    .extract {
        font-size: 18px;
        padding: 4px 9px;
    }

    .link {
        position: absolute;
        bottom: 0;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}



